{% extends "::index.html.twig" %}

{% block css %}

	{{ parent() }}

{% endblock %}

{% block title %}Stock{% endblock %}

{% block body %}
</br>

<div class="alert alert-danger alert-dismissable fade in"  style="display: none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>

<div id="listproducts" class="row col-xs-12">
	<h2>Stock : <input type="text" id="filterInput" onkeyup="filterProduct()" placeholder="chercher un produit..."></h2>

    {% if stock_history is defined %}
		{% for stock in stock_history %}
			<div class="card-container col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<div class="card-quantity-top">
					<span class="col-xs-4 glyphicon glyphicon-minus" style="margin-top:5px" onclick="minusProduct({{stock.id}},{{stock.quantity}})"> </span>
					<div class="col-xs-4"> <input id="product{{stock.id}}" class="form-control center" value="{{stock.quantity}}" onchange="changeQuantity({{stock.id}},{{stock.quantity}})"></div>
					<span class="col-xs-4 glyphicon glyphicon-plus" style="margin-top:5px" onclick="plusProduct({{stock.id}},{{stock.quantity}})"> </span>
				</div>
				{% if stock.product.imagePath != null %}
					<img class="card-image" src="{{ asset('uploads/images/' ~ stock.product.imagePath) }}"/>
				{% else %}
					<img class="card-image" src="images/placeholder.png"/>
				{% endif %}
				<div class="card-image-label">
					{{ stock.product.name }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
	<button type="button" class="btn btn-primary btn-lg btn-save-fix" onclick="updateProduct()">
		<span class="mdi mdi-content-save" style="font-size:50px"></span>
	</button>

	<script>

        $(document).ready(function(){
            $(".alert-danger").hide();
        });
		var saveTab = {};

		function changeQuantity(id, old){
			var quantity = $("#product"+id).val();
			var number = Number.parseInt(quantity ,10);
			if(!number){
                saveTab[id] = null;
                $("#product"+id).val(old);
			} else if(number != old) {
				saveTab[id] = number;
                $("#product"+id).val(number);
            } else {
				saveTab[id] = null;
			}

		}

		function updateProduct(){
		  $.ajax( {
				url : "/stock",
				type : 'POST', // Le type de la requête HTTP.
				data: saveTab,
                contentType: "application/json; charset=utf-8",
                dataType:'json',  
  				success: function(error) {
                    if (error.error) {
                        $(".alert-danger").append(error.error);
                        $(".alert-danger").show();
                    }
                }
          });
		 	saveTab = {};
		}
 
		function minusProduct(id, old){
			var quantity = +$("#product"+id).val()-1;
			$("#product"+id).val(quantity);
			changeQuantity(id, old);
		}

		function plusProduct(id, old){
			var quantity = +$("#product"+id).val()+1;
			$("#product"+id).val(quantity);
			changeQuantity(id, old);
		}

        function filterProduct(){
            var filter = $("#filterInput").val();
            var list = $("#listproducts > .card-container");
            var listName = $("#listproducts > .card-container > .card-image-label");
            var regexp = new RegExp(filter, 'i');

            for(var i=0;i<list.length;i++){
                list[i].style.display = (listName.eq(i).text().trim().match(regexp) ? "" : "none");
            }
        }

	</script>
{% endblock %}
