{% extends "::index.html.twig" %}

{% block css %}

	{{ parent() }}

{% endblock %}

{% block title %}Stock{% endblock %}

{% block body %}
</br></br></br>	

		{% if stock_history is defined %}
	
			{% for product in stock_history %}

					
				<div class="card-container col-xs-12 col-sm-4 col-md-3 col-lg-2">
					<div class="card-quantity-top">
						<span class="col-xs-4 glyphicon glyphicon-minus" style="margin-top:5px" onclick="minusProduct({{product.id}},{{product.quantity}})"> </span>
						<div class="col-xs-4"> <input type="number" id="product{{product.id}}" class="form-control center" value="{{product.quantity}}" onchange="changeQuantity({{product.id}},{{product.quantity}})"></input></div>
						<span class="col-xs-4 	glyphicon glyphicon-plus" style="margin-top:5px" onclick="plusProduct({{product.id}},{{product.quantity}})"> </span>
					</div>
					{% if product.product.imagePath != null %}
						<img class="card-image" src="{{ asset('uploads/images/' ~ product.product.imagePath) }}"/>
					{% else %}
						<img class="card-image" src="images/placeholder.png"/>
					{% endif %}
					<div class="card-image-label">
						{{ product.product.name }}
					</div>
				</div>
			{% endfor %}

		{% endif %}

	<button type="button" class="btn btn-primary btn-lg btn-save-fix" onclick="updateProduct()">
		<span class="mdi mdi-content-save" style="font-size:50px"></span>
	</button>

	<script>
		var saveTab = {};

		function changeQuantity(id, old){
			var quantity = $("#product"+id).val();
			if(quantity != old){
				saveTab[id] = quantity;
			} else {
				saveTab[id] = null;
			}

		}

		function updateProduct(){
		  $.ajax( {
				url : "/stock",
				type : 'POST', // Le type de la requête HTTP.
				data: saveTab,
                contentType: "application/json; charset=utf-8",
                dataType:'json',  
  				success: function() {
		    		alert( "success " );
		    	}	
		    });
		 	saveTab = {};
		}
 
		function minusProduct(id, old){
			var quantity = +$("#product"+id).val()-1;
			$("#product"+id).val(quantity);
			changeQuantity(id, old);
		}

		function plusProduct(id, old){
			var quantity = +$("#product"+id).val()+1;
			$("#product"+id).val(quantity);
			changeQuantity(id, old);
		}

	</script>
{% endblock %}
