{% extends "::index.html.twig" %}

{% block css %}

    {{ parent() }}

{% endblock %}

{% block title %}Commande{% endblock %}

{% block body %}
    


    <div class="alert alert-danger alert-dismissable fade in" style="display: none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>

    <div id="listCommand" class="row col-xs-12">
        <h2>Commande:  </h2>
     {% for order in order_list %}
            <div id="basket{{order.id}}" class="col-xs-12 col-sm-6 col-md-4" style="vertical-align:middle;">
                <div class="card col-xs-12" style="padding: 0px;">
                    <div class="col-xs-12 card-title-command bg-dark" style=";font-weight: bold;">
                        <span class="col-xs-9 card-title-block" >Commande numéro {{ order.id }}</span>
                        <span class="col-xs-3 card-title-block" >{{ order.deliveryTime|date('H:i') }}</span>
                        
                    </div>
                    {% set price_basket = 0 %}

                    {% for basket in order.orderContent %}
                        {% set price_basket = price_basket + basket.price %}
                        <div class="col-xs-12 card-title-block bg-dark-light">
                            <span class="col-xs-9" >{{ basket.name }}</span>
                            <span class="col-xs-3" >{{ basket.price }}€</span>
                       </div>
                        <span class="col-xs-12" style="background-color : #DDD;">
                            {% if basket.product_list is defined %}
                                {% for product in basket.product_list %}
                                    <div value="{{ product.id }}" class="card-container image-product ui-widget-content ui-corner-tr">
                                        {% if product.imagePath != null %}
                                            <img class="card-image" src="{{ asset('uploads/images/' ~ product.imagePath) }}" />
                                        {% else %}
                                            <img class="card-image" src="images/placeholder.png"/>
                                        {% endif %}
                                        <div class="card-image-label card-small-label">
                                            {{ product.name }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </span>
                    {% endfor %}
                    <div class="col-xs-12 card-title-block bg-dark-light">
                        <span class="col-xs-9"> Total </span>
                        <span class="col-xs-3">{{ price_basket }}€</span>
                    </div>
                    <div class="col-xs-12 breadcrumb" style=";font-weight: bold;margin: 0px;">
                        <li><a href="javascript:void(0);">Préparation</a></li>
                        <li><a href="javascript:void(0);">Paiement</a></li>
                        <li><a href="javascript:void(0);">Finalisé</a></li>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <script>
        $(".breadcrumb a").click(validStep);

        $(".breadcrumb > .completed a").click(cancelStep);

        function validStep() {
            $(this).parent().addClass("completed");
            $(this).click(cancelStep);
        }

        function cancelStep() {
            $(this).parent().removeClass("completed");
            $(this).click(validStep);
        }
    </script>

{% endblock %}
