{% extends "::index.html.twig" %}

{% block css %}

    {{ parent() }}

{% endblock %}

{% block title %} Create a delivery {% endblock %}

{% block body %}

	{% if is_granted("ROLE_ADMIN") %}
		{% if companies is defined %}
			<div id="listproducts" class="row col-xs-12">
				<label for="company">Fournisseur :</label>
				<select class="form-control" id="company" style="max-width: 600px" onchange="changeCompany()">
					<option></option>
						{% for company in companies %}
							<option value="{{company.id}}">{{company.companyname}}</option>
						{% endfor %}
				</select>
			</div>
		{% endif %}
	{% endif %}

	<table class="table">
		<thead>
			<tr>
				<th>Produit</th>
				<th>Quantité</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody id="tableLivraison">
			
		</tbody>
    </table>

    <div id="listproducts" class="row col-xs-12">
		<h2>Produits: <input type="text" id="filterInput" onkeyup="filterProduct()" placeholder="chercher un produit..."></h2>
	
		{% if product_list is defined %}
	
			{% for product in product_list %}
			

				<div id="product{{ product.id }}" class="card-container col-xs-12 col-sm-4 col-md-3 col-lg-2"  onclick="addProduct('{{ product.name }}', '{{ product.id }}', 0)">
					{% if product.imagePath != null %}
						<img class="card-image" src="{{ asset('uploads/images/' ~ product.imagePath) }}"/>
					{% else %}
						<img class="card-image" src="images/placeholder.png"/>
					{% endif %}
					<div class="card-image-label">
						{{ product.name }}
					</div>
					<div name="nameCategoryProduct" class="hidden">
						{{ product.category.name }}
					</div>

				</div>
			{% endfor %}

		{% endif %}
	</div>
	<button type="button" class="btn btn-primary btn-lg btn-save-fix" onclick="savedelivery()">
		<span class="mdi mdi-content-save" style="font-size:50px"></span>
	</button>	
	{% if is_granted("ROLE_ADMIN") %}
		<button type="button" class="btn btn-primary btn-lg btn-save-fix2" onclick="comfirmdelivery()">
			<span class="mdi mdi-check" style="font-size:50px"></span>
		</button>
	{% endif %}

	<script>
		var livraison = {};

		$(document).ready(function() {
			$("#company").val(urlParam('company'));
			$("#company").on("change", changeCompany);

		});

		function addProduct(name, id, quantity){
			$("#product" + id).hide();
			livraison[id] = 0;
			$("#tableLivraison").append("<tr id=\"tab"+ id +"\"><td>" + name + "</td>" +
									 "<td><input id=\"input" + id + "\" type=\"number\" value=\"" + quantity + "\" onChange=\"updateProduit(" + id + ")\"></td>" + 
									 "<td><span class=\"glyphicon glyphicon-remove\" style=\"size:20px;\" onclick=\"deleteProduct(" + id + ")\"></span></td></tr>");
		}

		function deleteProduct(id){
			$("#tab" + id).remove();
			$("#product" + id).show();
			livraison[id] = null;
		}
		
		function updateProduit(id){
			livraison[id] =$("#input"+id).val();
		}

		function filterProduct(){
            var filter = $("#filterInput").val();
            var list = $("#listproducts > .card-container");
            var listNameProduct = $("#listproducts > .card-container > .card-image-label");
            var listNameCategory = $("#listproducts > .card-container > [name='nameCategoryProduct']");
            var regexp = new RegExp(filter, 'i');
            !filter ? list.eq(0).show() : list.eq(0).hide();
            for(var i=1;i<list.length;i++){
                listNameProduct.eq(i).text().trim().match(regexp) ? list.eq(i).show() : list.eq(i).hide();
                if(listNameCategory.eq(i-1).text().trim().match(regexp)){
                    list.eq(i).show()
                }

            }
        }

		function initDelivery(){
			{% if deliveries is defined %}
				{% for delivery in deliveries %}
					addProduct(delivery.product.name, delivery.product.id, delivery.quantity);
				{% endfor %}
			{% endif %}
        }

        function savedelivery(){
			 $.ajax( {
				url : "/delivery",
				type : 'POST', // Le type de la requête HTTP.
				data: livraison,
                contentType: "application/json; charset=utf-8",
                dataType:'json',  
  				success: function(response) {
                    if(response.success){
                        $(".alert-success").append(response.success);
                        $(".alert-success").show(); 
                    }
                    if(response.error){
                        $(".alert-danger").append(response.error);
                        $(".alert-danger").show();
                    }
                }
          });
        }

        function comfirmdelivery(){
        	
			$.ajax({
				url : "/company/"+idCompany+"/categories",
				method : "GET", 
				success : setSelectedCategories
			});
        }

        function changeCompany(){
			var $companySelect = $("#company");
			var optionSelect = $companySelect.children("option:selected");
			var idCompany = optionSelect.val();
        	window.location = '/delivery?company=' + idCompany;
        }

	    function urlParam(name){
	        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
	        return results[1] || 0;
	    }
	</script>

{% endblock %}
